<div class="box">
	<h1>サービス紹介</h1>
	<h2 class="text">webcamp</h2>
	<p class="text">マンツーマンサポートによる学習で、確実にwebスキルを習得できるプログラミングスクールです。</p>
	<a class="text" href="https://music.youtube.com">webサイト</a>
	<h2 class="text">webcamp pro</h2>
	<p class="text">未経験から転職を保証する日本で唯一のプログラミングスクールです。</p>
	<a class="text" href="https://music.youtube.com">webサイト</a>
	<h2 class="text">webcamp woman</h2>
	<p class="text">家庭も仕事も頑張りたい主婦・ママ向けの、1ヶ月でwebサイトを制作するwebデザインスクールです。</p>
	<a class="text" href="https://music.youtube.com">webサイト</a>
	<h2 class="text">webcamp carrer</h2>
	<p class="text">3000名のエンジニアをサポートしてきたエージェントがあなたの転職をサポート</p>
	<a class="text" href="https://music.youtube.com"></a>
</div>
<div class="box1">
	<div class="box2"></div>
</div>