<header>
	<div class="header-box">
		<img src="/assets/logo.png" height="70px">
		<ul class="header-list">
			<li class="header-list-item">
				Portfolio
			</li>
			<li class="header-list-item">
				Feature
			</li>
			<li class="header-list-item">
				Profile
			</li>
			<li class="header-list-item">
				Contact
			</li>
		</ul>
	</div>
</header>

<main>
	<div class="main-box">
		<p class="main-logo">Lorem Ipsum</p>
		<p class="main-text">simply dummy text of the printhing</p>
	</div>
</main>

<footer>
	
</footer>