// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
	width: 100%;
	height: 70px;
	font-size: 16px;
	color: #fafafa;
	background-color: #ec715f;
}

.header-box {
	width: 1024px;
	margin: auto;
}

.header-list {
	list-style: none;
	float: right;
	height: 70px;
}

.header-list-item {
	float: left;
	margin: 30px;
}

main {
	width: 100%;
	height: 650px;
	background-image: url(/assets/mv.png);
	background-position: bottom;
	background-size: cover;
}

.main-box {
	width: 100%;
	padding-top: 200px;
	color: #fafafa;
	text-align: center;
}

.main-logo {
	font-size: 64px;
}


.main-text {
	font-size: 20px;
	margin-top: 10px;
}