// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.box {
	padding-left: 20px;

	h1 {
		color: orange;
	}

	.text {
		margin: 20px 0;
	}
}

.box1 {
	width: 300px;
	height: 300px;
	padding: 30px;

	.box2 {
		width: 100px;
		height: 100px;
		border: 5px solid yellow;
	}
}

header {
	width: 90%;
	padding: 15px 0;
	margin: 0 auto;
	text-align: center;
}

.header-line {
	font-size: 32px;
}

.nav-list {
	text-align: center;
	padding: 10px 0;
	margin: 0 auto;
}

.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.main-visual {
	width: 100%;
	height: 300px;

	.main-visual-contents {
		width: 350px;
		height: 300px;
	}
}

main {
	width: 840px;
	margin: 0 auto;

	.blog {
		width: 600px;
		height: 1400px;
		float: left;
	}

	.sidebar {
		width: 240px;
		height: 1400px;
		float: left;
	}

}

footer {
	width: 100%;
	height: 120px;
	text-align: center;
	line-height: 120px;
	background-color: #848282;
}

.footer-text {
	color: #fff;
}


.boxes {
	width: 600px;
	margin: 0 auto;
	background-color: yellow;

	.box1 {
		width: 150px;
		height: 400px;
		background-color: orange;
		float: left;
	}

	.box2 {
		width: 250px;
		height: 400px;
		background-color: red;
		float: right;
	}
}

























